.abouts{
  display: flex;
  justify-content: space-between;
  width: 276.23px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 650 !important;
}

.navbar{
  display: flex;
  padding: 0px 27px !important;
  font-size: 20px;
}

.btn{
  border: 1px solid rgb(255, 152, 0) !important;
  font-weight: 650 !important;
  font-size: 18px;
}

.btn:hover{
  background-color: rgb(255, 152, 0) !important;
  color: white !important;

}

.heading h1{
  font-size: 5.625rem;
  font-weight: 900;
  color: black;
  padding: 0px 0px 6.3125px;
  /* width: 1177.97px; */
  margin: 50px;
  text-align: center;
  margin-top: 130px;
}
 .main{
  background-color: rgb(39, 43, 51);
  /* padding: 81px 0px; */
}

.card-body{
  background-color: rgb(60, 62, 68);;
}
.card{
  width: 100% !important;
  display: flex;
  margin: 20px 0 0 0;
  flex-direction: row !important;
  background-color: rgb(6, 62, 68) !important;
}

.card-img{
  width: 40% !important;
  overflow: hidden;
  object-fit: cover !important;
}
.box-title{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.card-titel h2{
  font-size: 24px !important;
  font-weight: 800;
  color: white !important;
  cursor: pointer;
}
.card-titel h2:hover{
  color: rgb(255, 152, 0) !important;
}
.box-tile{
  display: flex;
  align-items: center;
}
.box-title h6{
  padding-left: 5px;
  margin-top: 7px;
  color: white !important;
}
.card-titel .box{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
.card-clt{
  color: rgb(158, 158, 158);
  margin-bottom: 20px;
}
.card-clt a{
  text-decoration: none;
  color: white !important;
  cursor: pointer;
  font-weight: normal;
}
.card-clt a:hover{
  color: rgb(255, 152, 0) !important;
}